@model LunchTool.Web.ViewModels.PageViewModel<IEnumerable<LunchTool.Web.ViewModels.DishViewModel>>

<div hidden="hidden" id="currentPageNumber">@Model.Info.PageNumber</div>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Название</th>
            <th scope="col">Вес</th>
            <th scope="col">Цена</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item)
        {
            <tr>
                <td scope="row">@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Weight</td>
                <td>@item.Price</td>
                <td>
                    <button class="btn btn-light" onclick="onChangeDish(@item.Id)">Изменить</button>
                </td>
                <td>
                    <a href="javascript:deleteDish('@item.Id')" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Info.HasPreviousPage)
{
    <button class="btn btn-primary" id="prevPage">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
        <div hidden="hidden" id="prevPageNumber">@(Model.Info.PageNumber - 1)</div>
    </button>
}
@if (Model.Info.HasNextPage)
{
    <button class="btn btn-primary" id="nextPage">
        <div hidden="hidden" id="nextPageNumber">@(Model.Info.PageNumber + 1)</div>
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </button>
}