@{
    ViewData["Title"] = "Администрирование: блюда";
    bool first = true;
}

@model Tuple<IEnumerable<LunchTool.Web.ViewModels.DishViewModel>, IEnumerable<LunchTool.Web.ViewModels.ProviderViewModel>>

<div class="btn btn-primary" data-toggle="modal" data-target="#addDishModal">Добавить блюдо</div>

<div class="modal" tabindex="-1" role="dialog" id="addDishModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить блюдо</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddDish" asp-controller="Administration" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-success="onAddComplete">
                    <div class="form-group">
                        <label for="Name">Название</label>
                        <input type="text" name="Name"  value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Weight">Вес</label>
                        <input type="text" name="Weight" id="Weight" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Price">Цена</label>
                        <input type="text" name="Price" id="Price" value="" class="form-control" />
                    </div>
                    @if (Model.Item2 != null)
                    {
                        <div class="form-group">
                            <label for="ProviderId">Поставщик</label>
                            <select name="ProviderId" id="ProviderId">
                                @foreach (var provider in Model.Item2)
                                {
                                    if (first)
                                    {
                                        <option value="@provider.Id" selected="selected">@provider.Name</option>
                                        first = false;
                                    }
                                    else
                                    {
                                        <option value="@provider.Id">@provider.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group" id="menus">

                        </div>
                    }
                    else
                    {
                        <input type="hidden" name="MenuId" value="@TempData["MenuId"]" />
                    }
                    <div class="form-group">
                        <input type="submit" name="" value="Добавить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="changeDishModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить блюдо</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="changeDishModalText">
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addChangeResult">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Сообщение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="addChangeMessage"></p>
            </div>
        </div>
    </div>
</div>


<div class="text-center" style="margin-top: 10px; margin-bottom: 10px">
    Список блюд
</div>

<div id="result">

</div>


@section Scripts
{ 
@if (Model.Item2 != null)
{
    <script>
        $.post("GetMenusById/", { "idMenu": $("#ProviderId").val() }).done(function (result) { $("#menus").html(result) });
        $("#ProviderId").change(function () {          
            var id = $(this).val();
            console.log(id);
            $.ajax({
                type: "POST",
                url: "GetMenusById/",
                data: { "idMenu": id },
                success: function (result) {
                    console.log(document.getElementById("menus").innerHTML);
                    $("#menus").html(result);
                }
            });
        });


    </script>
}
<script>

    function addWeightAndPriceListeners() {
        $('#Weight').keypress(function (event) {
            if ((event.which != 44 || $(this).val().indexOf(',') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
        $('#Price').keypress(function (event) {
            if ((event.which != 44 || $(this).val().indexOf(',') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
    }

    addWeightAndPriceListeners();

    function loadDishesPage(page) {
        $.post("/Administration/GetDishesPage",
        { "pageNumber": page, "menuId": @TempData["MenuId"].ToString()})
        .done(function (result) {
            $("#result").html(result);
            addDishesListener();
        });
    }

    loadDishesPage(1);

    function addDishesListener() {
        $("#prevPage").click(function (e) {
            e.preventDefault();
            $.post("/Administration/GetDishesPage",
                { "pageNumber": $("#prevPageNumber").text(), "menuId": @TempData["MenuId"].ToString()})
                .done(function (result) {
                    $("#result").html(result);
                    addDishesListener();
                });
        });
        $("#nextPage").click(function (e) {
            e.preventDefault();
            $.post("/Administration/GetDishesPage",
                { "pageNumber": $("#nextPageNumber").text(), "menuId": @TempData["MenuId"].ToString()})
                .done(function (result) {
                    $("#result").html(result);
                    addDishesListener();
                });
        });
    }

    function onChangeDish(id) {
        $.get("/Administration/ChangeDish", { "id": id }).done(function (message) {
            $("#changeDishModalText").html(message);
            $("#changeDishModal").modal('show');
        });
    }


    function onAddComplete(message) {
        $("#addDishModal").modal("hide");
        $("input[name=Name]").val('');
        $("input[name=Weight]").val('');
        $("input[name=Price]").val('');
        var currentPage = $("#currentPageNumber").text();
        loadDishesPage(currentPage);
        $("#addChangeMessage").html(message);
        $("#addChangeResult").modal('show');
    }

    function onChangeComplete(message) {
        $("#changeDishModal").modal("hide");
        var currentPage = $("#currentPageNumber").text();
        loadDishesPage(currentPage);
        $("#addChangeMessage").html(message);
        $("#addChangeResult").modal('show');
    }


    function deleteDish(id) {
        if (confirm('Вы уверенны что хотите удалить меню?'))
        $.post("DeleteDish/", { id: id }).always(function (done) {
            var currentPage = $("#currentPageNumber").text();
            loadDishesPage(currentPage); });
    }
</script>
}