@{
    ViewData["Title"] = "Администрирование: блюда";
    bool first = true;
}

@model Tuple<IEnumerable<LunchTool.Web.ViewModels.DishViewModel>, IEnumerable<LunchTool.Web.ViewModels.ProviderViewModel>>

<div class="row">
    <form asp-action="AddDish" asp-controller="Administration" method="post" class="card col-md-8 offset-md-2">
        <div class="form-group">
            <label for="Name">Название</label>
            <input type="text" name="Name" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Weight">Вес</label>
            <input type="text" name="Weight" id="Weight" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Price">Цена</label>
            <input type="text" name="Price" id="Price" value="" class="form-control" />
        </div>
        @if (Model.Item2 != null)
        {
            <div class="form-group">
                <label for="ProviderId">Поставщик</label>
                <select name="ProviderId" id="ProviderId">
                    @foreach (var provider in Model.Item2)
                    {
                        if (first)
                        {
                            <option value="@provider.Id" selected="selected">@provider.Name</option>
                            first = false;
                        }
                        else
                        {
                            <option value="@provider.Id">@provider.Name</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group" id="menus">

            </div>
        }
        else
        {
            <input type="hidden" name="MenuId" value="@TempData["MenuId"]"/>
        }
        <div class="form-group">
            <input type="submit" name="" value="Потвердить" class="btn btn-primary" />
        </div>
    </form>
</div>

<script>
    $('#Weight').keypress(function (event) {
        if ((event.which != 44 || $(this).val().indexOf(',') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
    $('#Price').keypress(function (event) {
        if ((event.which != 44 || $(this).val().indexOf(',') != -1) && (event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
</script>

@if (Model.Item2 != null)
{
<script>
    $.post("GetMenusById/", { id: $("#ProviderId").val() }).done(function (result) { $("#menus").html(result)});
    $("#ProviderId").change(function () {
        var id = $(this).val();
        $.ajax({
            type: "POST",
            url: "GetMenusById/",
            data: { "id": id },
            success: function (result) {
                $("#menus").html(result);
            }
        });
    });


</script>
}

<table class="table">
    <tr>
        <td>Id</td>
        <td>Название</td>
        <td>Вес</td>
        <td>Цена</td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var item in Model.Item1)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Weight</td>
        <td>@item.Price</td>
        <td>
            <a asp-action="ChangeDish" asp-controller="Administration" asp-route-id="@item.Id">Изменить</a>
        </td>
        <td>
            <a asp-action="DeleteDish" asp-controller="Administration" asp-route-menuViewModel="@item">Удалить</a>
        </td>
    </tr>
    }
</table>
