@{
    ViewData["Title"] = "Администрирование: меню";
}

@model IEnumerable<LunchTool.Service.DTO.MenuDTO>

<table class="table">
    <tr><td>Id</td><td>Название</td><td>Информация</td><td>Дата</td><td>Ограничение по времени</td>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                @if(item.Info != null)
                {
                    @item.Info
                }
            </td>
            <td>
                @if (item.Date != null)
            {
                    @String.Format("{0}, {1} {2}", item.Date.Day, item.Date.Month, item.Date.Year);
            }
            </td>
            <td>
                @String.Format("{0}:{1}", item.TimeLimit.Hour, item.TimeLimit.Minute);
            </td>            
        </tr>
    }
</table>
