@{
    ViewData["Title"] = "Администрирование: меню";
    var first = true;
}

@model Tuple<IEnumerable<LunchTool.Web.ViewModels.MenuViewModel>, IEnumerable<LunchTool.Web.ViewModels.ProviderViewModel>>

<div class="row">
    <div class="col-md-8 offset-md-2">
    <div class="card">
        <div class="card-header text-center">
            Добавить меню
        </div>
        <form asp-action="AddMenu" asp-controller="Administration" method="post" class="card-body">
            <div class="form-group">
                <label for="Name">Название</label>
                <input type="text" name="Name" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Info">Информация</label>
                <input type="text" name="Info" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="Date">Дата</label>
                <input type="date" name="Date" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="TimeLimit">Ограничение по времени</label>
                <input type="time" name="TimeLimit" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="ProviderId">Поставщик</label>
                <select name="ProviderId">
                    @foreach (var provider in Model.Item2)
                    {
                        <option value="@provider.Id">@provider.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" name="" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-8 offset-md-2">
    <div class="card">
        <div class="card-header text-center">
            Копировать меню
        </div>
    <form asp-action="CopyMenu" asp-controller="Administration" method="get" class="card-body">
        <div class="form-group">
            <label for="ProviderId">Поставщик</label>
            <select name="ProviderId" id="ProviderId">
                @foreach (var provider in Model.Item2)
                {
                    if (first)
                    {
                        <option value="@provider.Id" selected="selected">@provider.Name</option>
                        first = false;
                    }
                    else
                    {
                        <option value="@provider.Id">@provider.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group" id="menus">

        </div>
        <div class="form-group">
            <input type="submit" name="" value="Выбрать" class="btn btn-primary" />
        </div>
    </form>
    </div>
    </div>
</div>

<div class="text-center" style="margin-top: 10px; margin-bottom: 10px">
    Список меню
</div>
<table class="table">
    <tr>
        <td>Id</td>
        <td>Название</td>
        <td>Информация</td>
        <td>Дата</td>
        <td>Ограничение по времени</td>
        <td>Активен</td>
        <td></td>
        <td></td>
    </tr>
        @foreach (var item in Model.Item1)
        {
    <tr>
        <td>@item.Id</td>
        <td><a asp-action="Dishes" asp-controller="Administration" asp-route-id="@item.Id">@item.Name</a></td>
        <td>
            @if (item.Info != null)
            {
                @item.Info
            }
        </td>
        <td>
            @if (item.Date != null)
            {
                @String.Format("{0}.{1}.{2} г.", item.Date.Day, item.Date.Month, item.Date.Year);
            }
        </td>
        <td>
            @String.Format("{0}:{1}", item.TimeLimit.Hour, item.TimeLimit.Minute > 9 ? item.TimeLimit.Minute.ToString() : "0" + item.TimeLimit.Minute.ToString())
        </td>
        <td>
            @if (item.IsActive)
            {
                <div>Да</div>
            }
            else
            {
                <div>Нет</div>
            }
        </td>
        <td>
            <a asp-action="ChangeMenu" asp-controller="Administration" asp-route-id="@item.Id" class="btn btn-light">Изменить</a>
        </td>
        @if (item.IsActive)
        {
            <td>
                <a href="javascript:deactivateMenu('@item.Id')" class="btn btn-light">Деактивировать</a>
            </td>
        }
        else
        {
            <td>
                <a href="javascript:activateMenu('@item.Id')" class="btn btn-light">Активировать</a>
            </td>
        }
    </tr>
    }
</table>

@section Scripts
{ 
<script>
    $.post("/Administration/GetMenusById/", { idMenu: $("#ProviderId").val() }).done(function (result) { $("#menus").html(result) });
    $("#ProviderId").change(function () {
        var id = $(this).val();
        $.ajax({
            type: "POST",
            url: "/Administration/GetMenusById/",
            data: { "idMenu": id },
            success: function (result) {
                $("#menus").html(result);
            }
        });
    });


</script>

<script>
    function deleteMenu(id)
    {
        $.post("DeleteMenu/", { id: id }).always(function (done) { window.location.reload(true); });
    }

    function deactivateMenu(id) {
        $.post("DeactivateMenu/", { id: id }).always(function (done) { window.location.reload(true); });
    }
    function activateMenu(id) {
        $.post("ActivateMenu/", { id: id }).always(function (done) { window.location.reload(true); });
    }
</script>
}