@{
    ViewData["Title"] = "Администрирование: меню";
    var first = true;
}

@model IEnumerable<LunchTool.Web.ViewModels.ProviderViewModel>

<div class="btn btn-primary" data-toggle="modal" data-target="#addMenuModal">Добавить меню</div>
<div class="btn btn-primary" data-toggle="modal" data-target="#copyMenuModal">Копировать меню</div>

<div class="modal" tabindex="-1" role="dialog" id="addMenuModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить меню</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddMenu" asp-controller="Administration" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-success="onAddComplete">
                    <div class="form-group">
                        <label for="Name">Название</label>
                        <input type="text" name="Name" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Info">Информация</label>
                        <input type="text" name="Info" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Date">Дата</label>
                        <input type="date" name="Date" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="TimeLimit">Ограничение по времени</label>
                        <input type="time" name="TimeLimit" value="" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="ProviderId">Поставщик</label>
                        <select name="ProviderId">
                            @foreach (var provider in Model)
                            {
                                <option value="@provider.Id">@provider.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="" value="Добавить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="copyMenuModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Копировать меню</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
            <form asp-action="CopyMenu" asp-controller="Administration" method="get" class="card-body">
                <div class="form-group">
                    <label for="ProviderId">Поставщик</label>
                    <select name="ProviderId" id="ProviderId">
                        @foreach (var provider in Model)
                        {
                            if (first)
                            {
                                <option value="@provider.Id" selected="selected">@provider.Name</option>
                                first = false;
                            }
                            else
                            {
                                <option value="@provider.Id">@provider.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group" id="menus">

                </div>
                <div class="form-group">
                    <input type="submit" name="" value="Выбрать" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="changeMenuModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить меню</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="changeMenuModalText">
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="addChangeResult">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Сообщение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="addChangeMessage"></p>
            </div>
        </div>
    </div>
</div>


<div class="text-center" style="margin-top: 10px; margin-bottom: 10px">
    Список меню
</div>

<div id="result">

</div>

@section Scripts
{
<script>
    $.post("/Administration/GetMenusById/", { idMenu: $("#ProviderId").val() }).done(function (result) { $("#menus").html(result) });
    $("#ProviderId").change(function () {
        var id = $(this).val();
        $.ajax({
            type: "POST",
            url: "/Administration/GetMenusById/",
            data: { "idMenu": id },
            success: function (result) {
                $("#menus").html(result);
            }
        });
    });

    function loadMenusPage(page) {
        $.post("/Administration/GetMenusPage",
            { "pageNumber": page, "providerId": @TempData["ProviderId"].ToString()})
            .done(function (result) {
                $("#result").html(result);
                addMenusListener();
            });
    }

    loadMenusPage(1);

    function addMenusListener() {
        $("#prevPage").click(function (e) {
            e.preventDefault();
            $.post("/Administration/GetMenusPage",
                { "pageNumber": $("#prevPageNumber").text(), "providerId": @TempData["ProviderId"].ToString()})
                .done(function (result) {
                    $("#result").html(result);
                    addMenusListener();
                });
        });
        $("#nextPage").click(function (e) {
            e.preventDefault();
            $.post("/Administration/GetMenusPage",
                { "pageNumber": $("#nextPageNumber").text(), "providerId": @TempData["ProviderId"].ToString()})
                .done(function (result) {
                    $("#result").html(result);
                    addMenusListener();
                });
        });
    }

    function onChangeMenu(id) {
        $.get("/Administration/ChangeMenu", { "id": id }).done(function (message) {
            $("#changeMenuModalText").html(message);
            $("#changeMenuModal").modal('show');
        });
    }

    function onAddComplete(message) {
        $("#addMenuModal").modal("hide");
        $("input[name=Name]").val('');
        $("input[name=Info]").val('');
        $("input[name=Date]").val('');
        $("input[name=TimeLimit]").val('');
        var currentPage = $("#currentPageNumber").text();
        loadMenusPage(currentPage);
        $("#addChangeMessage").html(message);
        $("#addChangeResult").modal('show');
    }

    function onChangeComplete(message) {
        $("#changeMenuModal").modal("hide");
        var currentPage = $("#currentPageNumber").text();
        loadMenusPage(currentPage);
        $("#addChangeMessage").html(message);
        $("#addChangeResult").modal('show');
    }

    function deleteMenu(id) {
        $.post("DeleteMenu/", { id: id }).always(function (done) {
            var currentPage = $("#currentPageNumber").text();
            loadMenusPage(currentPage);
        });
    }

    

    function deactivateMenu(id) {
        if (confirm('Вы уверенны что хотите деактивировать меню?'))
        $.post("DeactivateMenu/", { id: id }).always(function (done) {
            var currentPage = $("#currentPageNumber").text();
            loadMenusPage(currentPage);
        });
    }
    function activateMenu(id) {
        if (confirm('Вы уверенны что хотите активировать меню?'))
        $.post("ActivateMenu/", { id: id }).always(function (done) {
            var currentPage = $("#currentPageNumber").text();
            loadMenusPage(currentPage);
        });
    }
</script>
}
