@{
    ViewData["Title"] = "Администрирование: поставщики";
}
@model IEnumerable<LunchTool.Web.ViewModels.ProviderViewModel>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header text-center">
                Добавить поставщика
            </div>
            <form asp-action="AddProvider" asp-controller="Administration" method="post" class="card-body">
                <div class="form-group">
                    <label for="Name">Название</label>
                    <input type="text" name="Name" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Address">Адрес</label>
                    <input type="text" name="Address" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="email" name="Email" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="StartWork">Начало работы</label>
                    <input type="time" name="StartWork" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="EndWork">Окончание работы</label>
                    <input type="time" name="EndWork" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="PhoneNumber">Номер</label>
                    <input type="text" name="PhoneNumber" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" name="" value="Добавить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="text-center" style="margin-top: 10px; margin-bottom: 10px">
    Список поставщиков
</div>
<table class="table">
    <tr><td>Id</td><td>Название</td><td>Адрес</td><td>Email</td><td>Начало работы</td><td>Окончание работы</td><td>Номер</td><td>Активен</td><td></td><td></td></tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Id</td>
        <td><a asp-action="Menus" asp-controller="Administration" asp-route-id="@item.Id">@item.Name</a></td>
        <td>@item.Address</td>
        <td>@item.Email</td>
        <td>
            @if (item.StartWork != null) { @String.Format("{0}:{1}", item.StartWork.Value.Hour, item.StartWork.Value.Minute > 9? item.StartWork.Value.Minute.ToString() : "0" + item.StartWork.Value.Minute.ToString()); }
        </td>
        <td>
            @if (item.EndWork != null) { @String.Format("{0}:{1}", item.EndWork.Value.Hour, item.EndWork.Value.Minute > 9? item.EndWork.Value.Minute.ToString() : "0" + item.EndWork.Value.Minute.ToString()); }
        </td>
        <td>
            @if (item.PhoneNumber != null) { @item.PhoneNumber }
        </td>
        <td>
            @if (item.Active)
            {
                <div>Да</div>
            }
            else
            {
                <div>Нет</div>
            }
        </td>
        <td>
            <a asp-action="ChangeProvider" asp-controller="Administration" asp-route-id="@item.Id" class="btn btn-light">Изменить</a>
        </td>
        @if (item.Active)
        {
            <td>
                <a href="javascript:deactivateProvider('@item.Id')" class="btn btn-light">Деактивировать</a>
            </td>
        }
        else
        {
            <td>
                <a href="javascript:activateProvider('@item.Id')" class="btn btn-light">Активировать</a>
            </td>
        }
      </tr>
    }
</table>

<script>
    function deactivateProvider(id) {
        $.post("DeactivateProvider/", { id: id }).always(function (done) { window.location.reload(true); }); 
    }
    function activateProvider(id) {
        $.post("ActivateProvider/", { id: id }).always(function (done) { window.location.reload(true); });
    }
</script>