@{
    ViewData["Title"] = "Администрирование: пользователи";
}

@model IEnumerable<LunchTool.Web.ViewModels.UserViewModel>

<div class="row">
    <form asp-action="AddUser" asp-controller="Administration" method="post" class="card col-md-8 offset-md-2" >
        <div class="form-group">
            <label for="LastName">Фамилия</label>
            <input type="text" name="LastName" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label for="FirstName">Имя</label>
            <input type="text" name="FirstName" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Patronymic">Отчество</label>
            <input type="text" name="Patronymic" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Username">Логин</label>
            <input type="text" name="Username" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" name="Email" value="" class="form-control" />
        </div>
        <div class="form-group">
            <label for="Password">Пароль</label>
            <input type="password" name="Password" value="" required class="form-control" />
        </div>
        <div class="form-group">
            <label for="PhoneNumber">Номер телефона</label>
            <input type="text" name="PhoneNumber" value="" class="form-control" />
        </div>
        <div class="form-check">
            <input checked="checked" class="form-check-input" data-val="true" data-val-required="The Active field is required." id="IsAdmin" name="IsAdmin" type="checkbox" value="true" required>
            <label for="IsAdmin">Администратор</label>
        </div>
        <div class="form-group">
            <input type="submit" name="" value="Потвердить" class="btn btn-primary" />
        </div>
    </form>
</div>
<table class="table">
    <tr><td>Id</td><td>Фамилия</td><td>Имя</td><td>Отчество</td><td>Логин</td><td>Email</td><td>Номер телефона</td><td></td></tr>
    @foreach (var item in Model)
    {
        <tr onclick="window.location=''">
            <td>@item.Id</td>
            <td>@item.LastName</td>
            <td>@item.FirstName</td>
            <td>
            @if (item.Patronymic != null)
            {
                @item.Patronymic
            }
            </td>
            <td>@item.Username</td>
            <td>@item.Email</td>
            <td>
            @if (item.PhoneNumber != null)
            {
                @item.PhoneNumber
            }
            </td>
            <td>
                <a asp-action="ChangeUser" asp-controller="Administration" asp-route-id="@item.Id">Изменить</a>
            </td>
        </tr>
    }
</table>