@{
    ViewData["Title"] = "Отчет за месяц";
}

@model IEnumerable<LunchTool.Web.ViewModels.ProviderViewModel>



<div class="row">
    <div class="col-3">
        <label for="ProviderId">
            Поставщик:
        </label>
        <select id="ProviderId" name="ProviderId">
            <option value="-1">Все</option>
            @foreach (var provider in Model)
            {
                <option value="@provider.Id">@provider.Name</option>
            }
        </select>
    </div>
    <div class="col-3">
        <label for="Month">
            Месяц:
        </label>
        <select id="Month" name="Month">
            @for (int i = 1; i <= 12; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
    <div class="col-3">
        <label for="Year">
            Год:
        </label>
        <select id="Year" name="Year">
            @for (int i = DateTime.Today.Year - 2; i <= DateTime.Today.Year + 4; i++)
            {
                <option value="@i">@i</option>
            }
        </select>
    </div>
    <div class="col-3">
        <a class="btn btn-primary" html="javascript:void(0);" onclick="makeReport()">Составить</a>
    </div>
</div>

<button class="btn btn-info" onclick="makeReportPdf()" style="display:none;" id="reportPdf">Сделать PDF</button>
<div id="result" style="height: 85vh; overflow: auto;">

</div>

@section Scripts
    {
    <script>
        function makeReport() {
            var providerId = $("#ProviderId").val();
            var month = $("#Month").val();
            var year = $("#Year").val();

            $.ajax({
                url: "/Report/UserMonthReport",
                method: "POST",
                data: { "ProviderId": providerId, "Month": month, "Year": year },
                success: function (result) {
                    if (result === "") {
                        $("#reportPdf").hide();
                        $("#result").html("За данный месяц нет заказов.");
                    }
                    else {
                        $("#result").html(result);
                        $("#reportPdf").show();
                    }
                }
            });
        }

        function makeReportPdf() {
            $.post("/Report/MakePdf", { "html": $("#result").html(), "userName": $("#UserName").text() }).done(function (message) {
                window.location.href = "/Report/Download/?fileName=" + message;
            });
        }
    </script>
}